<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hostelry Analysis</title>
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <script src="static/js/bootstrap.min.js"></script>
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <strong>
                        Hostelry Analysis
                    </strong>
                </div>
                </br>
                <div class="row">
                    <div class="col-xs-2 box">
                        <a href="{{ url_for('index') }}"><strong>Home</strong></a>
                    </div>
                    <div class="col-xs-2 box">
                        <a href="{{ url_for('results') }}"><strong>Results</strong></a>
                    </div>
                </div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                        {% for message in messages %}
                            <li>{{ message }} </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
